python/nm-prover/barcode.svg
python/nm-prover/barcode_master.svg
python/nm-prover/natural_maths_mandelbrot.svg
python/nm-prover/NaturalMaths_kappa0.6235_1024_20251129.mtl
python/nm-prover/NaturalMaths_kappa0.6235_1024_20251129.obj
python/nm-prover/NaturalMaths_kappa0_1024_20251129.mtl
python/nm-prover/NaturalMaths_kappa0_1024_20251129.obj
python/nm-prover/NM_Mandelbrot_k0.0000_res96_20251128.mtl
python/nm-prover/NM_Mandelbrot_k0.0000_res96_20251128.obj
python/nm-prover/NM_Mandelbrot_k0.6235_res96_20251128.mtl
python/nm-prover/NM_Mandelbrot_k0.6235_res96_20251128.obj
python/nm-prover/nm_ms_512.blend
python/nm-prover/nm_voxel_64.json
